<section class="stack-default">
  <h1><%%= edit_<%= singular_name %>_icon %> <%%= t('dispatcher.<%= plural_name %>.edit_<%= singular_name %>.title') %></h1>

  <%%= render partial: "form", locals: { form: @form }%>
</section>