<section class="wa-callout wa-neutral">
  <strong>There are no tasks for this onsite yet</strong>

  <p>Onsites help you plan the work, and specify the tasks for technicians to tackle. Adding tasks to an onsite makes a punchlist of things to do.</p>

  <%= render Organization::JobTask::AddDialogComponent.new(form: job_task_form) %>
</section>
