<section class="wa-callout wa-neutral">
  <strong>There are no tasks for this job yet</strong>

  <p>Tasks are the things you need to do in order to wrap this up and get paid.</p>

  <%= render Organization::JobTask::AddDialogComponent.new(form: job_task_form) %>
</section>
