<%= render PracticalViews::OpenDialogButtonComponent.new(dialog_id: :test_dialog) do %>
  Open
<% end %>

<%= render(PracticalViews::ModalDialogComponent.new(id: :test_dialog)) do |component| %>
  <% component.with_header do %>
    Dialog header
  <% end %>

  <p>The dialog content</p>
<% end %>