<div class="cover">
  <section class="stack-compact center principal">
    <h1>
      <%= icon(style: 'fa-duotone', name: 'light-emergency-on', html_options: {
            style: "--fa-secondary-color: var(--danger-color-05); --fa-secondary-opacity: 0.9;"
          })
      %>

      <%= guided_translate(".emergency_passkey_registrations.registration_form.title.text") %>
    </h1>
    <%= guided_translate(".emergency_passkey_registrations.registration_form.description.html") %>
    <%= render partial: "registration_form", locals: {form: @form, token: @token} %>
  </section>
</div>
